<div class="root">
  <h3>Todo</h3>
  <table mat-table [dataSource]="todoList">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element">{{ element.index }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedTodoColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedTodoColumns"></tr>
  </table>
  <form (ngSubmit)="onClickCreateTodo()" #createTodoForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>name</mat-label>
      <input
        matInput
        placeholder="todoName"
        id="todoName"
        type="text"
        name="todoName"
        [(ngModel)]="todoName"
        placeholder="name"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>description</mat-label>
      <input
        matInput
        placeholder="todoDescription"
        id="todoDescription"
        type="text"
        name="todoDescription"
        [(ngModel)]="todoDescription"
        placeholder="description"
      />
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="createTodoForm.invalid"
    >
      CreateTodo
    </button>
  </form>
</div>
